<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {%- include head.html -%}
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SZSVS9"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <main id="layout">
            <a id="menuLink" class="menu-toggle" href="#menu">
                <span></span>
            </a>
            <div id="menu">
            {%- include menu.html -%}
            </div>
            <div id="main">
                {{ content }}
            </div>
        </main>
        <script>
menuLink.onclick=function(a){a.preventDefault();var e="active";layout.className=layout.className==e?"":e};
        </script>
    </body>
</html>
