---
layout: default
---
<div id="home">
    <header>
        {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
        {%- endif -%}
        {%- if page.subtitle -%}
        <h2 class="page-subheading">{{ page.subtitle }}</h2>
        {%- endif -%}
    </header>

    <section>
        {%- if site.posts.size > 0 -%}
        <ul class="post-list">
            {%- for post in site.posts -%}
            <li>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
                {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
                <span class="meta">{{ post.date | date: date_format }}</span>
                {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                {%- endif -%}
            </li>
            {%- endfor -%}
        </ul>

        <p class="rss-subscribe">
            subscribe
            <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>
        </p>
        {%- endif -%}
    </section>
</div>
