<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {%- include head.html -%}
    <body>
        <main id="layout">
            <a id="menuLink" class="menu-toggle" href="#menu">
                <span></span>
            </a>
            <div id="menu">
            {%- include menu.html -%}
            </div>
            <div id="app">
                {{ content }}
            </div>
            <div id="donate" class="active">
                <a id="donateButton" class="pure-button">
                    <i class="fa fa-times"></i>
                </a>
                <div class="pure-g">
                    <div class="pure-u">
                        <span><b>ETH:</b> 0xfb29929cfbaf6fc9ee7159e24c20f5ecd6166c68</span> </br>
                        <span><b>BTC:</b> 38C4LYdaREt1igWjgpUvP4VVMsgVmoZvRP</span></br>
                        <small><a href="https://warhammer40k.fandom.com/wiki/Slaanesh">Eyy b0ss</a></small>
                    </div>
                    <div class="pure-u">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_donations" />
                            <input type="hidden" name="business" value="M4JLVRDV82KCY" />
                            <input type="hidden" name="item_name" value="My purpose is to pass butter" />
                            <input type="hidden" name="currency_code" value="EUR" />
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                            <img alt="" border="0" src="https://www.paypal.com/en_SI/i/scr/pixel.gif" width="1" height="1" />
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <script>
menuLink.onclick=function(a){a.preventDefault();var e="active";layout.className=layout.className==e?"":e};
donateButton.onclick=function(a){a.preventDefault();var e="active";donate.className=donate.className==e?"":e};
        </script>
        <script src="/dist/build.js"></script>
    </body>
</html>

